<table class="model-table">
    <thead>
        <tr>
            {% for col in site.data.rep_model.Rule_Columns -%}
                <th>{{ col | capitalize -}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in include.rules %}
            <tr>
                {% for col in row -%}
                    <td>
                        {% if forloop.first -%}
                            {% assign code_num = col[1] | prepend: '000' | slice: -3, 3 %}
                            {% assign code = include.category | append: code_num %}
                            {{ code }}
                        {% else %}
                            {{ col[1] }}
                        {% endif %}
                    </td>
                {% endfor -%}
            </tr>
        {% endfor -%}
    </tbody>
</table>